@model Gico.FrontEndModels.Models.PageModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @await Html.PartialAsync("Components/_CssInclude")
</head>
<body>
<div class="container body-content">
    <div>

    </div>
    <hr />
    <footer>
        <p>&copy; 2017 - Gico.FrontEnd</p>
    </footer>
</div>

@await Html.PartialAsync("Components/_JsInclude")

@RenderSection("Scripts", required: false)
</body>
</html>
