@using Gico.Common
@using Gico.Config
@model Gico.FrontEndModels.Models.VerifyExternalLoginWhenAccountIsExistModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @await Html.PartialAsync("Components/_CssInclude")
</head>
<body>
    <div class="container">
        <a href="/">Go to home page</a>
    </div>

    @await Html.PartialAsync("Components/_JsInclude")

</body>
</html>
