<div class="bg-white page-detail">
  <div class="row">
    <div class="col-xs-12">
      <div class="row ">
        <div class="col-xs-6 ">
          <div class="view-option-detail">
            <ul id="etalage" class="etalage">
              <li>
                <img class="etalage_thumb_image" src="https://media.static-adayroi.com/sys_master/h89/h14/11003195981854.jpg" />
                <img class="etalage_source_image" src="https://media.static-adayroi.com/sys_master/h89/h14/11003195981854.jpg" />
              </li>
              <li>
                <img class="etalage_thumb_image" src="https://media.static-adayroi.com/sys_master/h89/h14/11003195981854.jpg" />
                <img class="etalage_source_image" src="https://media.static-adayroi.com/sys_master/h89/h14/11003195981854.jpg" />
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="title-detail">
            <h3>Tên sản phẩm</h3>
            <div class="row">
              <div class="col-xs-12" style="margin-bottom:5px">
                <span>Danh mục: </span>
                <strong>THỜI TRANG > Thời trang nữ > Áo nữ > Áo thun,áo hai dây nữ > Áo thun Nữ</strong>
              </div>
              <div class="col-xs-12" style="margin-bottom: 5px">
                <span>Barcode: </span>
                <strong>286021411132454</strong>
              </div>
              <div class="col-xs-12" style="margin-bottom: 5px"> 
                <span>Thương hiệu: </span>
                <strong>Utana</strong>
              </div>
              <div class="col-xs-12" style="margin-bottom: 5px">
                <span class="color-gray">Thông tin tính phí vận chuyển </span>
              </div>
              <div class="col-xs-12" style="margin-bottom: 5px">
                <span class="color-gray">Khối lượng: </span>
                <strong>0.05(kg)</strong>
              </div>
              <div class="col-xs-12" style="margin-bottom: 5px">
                <span class="color-gray">Dài: </span>
                <strong>20(cm)</strong>
              </div>
              <div class="col-xs-12" style="margin-bottom: 5px">
                <span class="color-gray">Rộng : </span>
                <strong>15(cm)</strong>
              </div>
              <div class="col-xs-12" style="margin-bottom: 5px">
                <span class="color-gray">Cao: </span>
                <strong>1(cm)</strong>
              </div>
            </div>
          </div>
          <div class="short-detail clearfix vin-sort-detail">
            <hr />
            <div class="title-desc">
              <h5>Thuộc tính của sản phẩm</h5>
            </div>
            <div class="short-info-product">
              <div class="row">
                <div class="col-xs-4">Xuất xứ:</div>
                <div class="col-xs-8 text-align-justify"> Việt Nam </div>
              </div>
              <div class="row">
                <div class="col-xs-4">Màu sắc:</div>
                <div class="col-xs-8 text-align-justify"> Khác </div>
              </div>
              <div class="row">
                <div class="col-xs-4">Chất liệu vải:</div>
                <div class="col-xs-8 text-align-justify"> Thun </div>
              </div>
            </div>
            <div class="short-detail-desc">
              <hr />
              <h5 class="title-detail">Thông tin sản phẩm</h5>
              <ul>
                <li>Chất liệu, mềm, nhẹ, thấm hút mồ hôi tốt</li>
                <li>Kiểu dáng đơn giản, trẻ trung</li>
                <li>Có thể kết hợp với nhiều trang phục khác nhau</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row mtop-20">
        <div class="col-xs-12">
          <div class="title-desc">
            <h4>Thông tin chi tiết</h4>
          </div>
          <div class="description-info collapse-content">
            <div class="content-description">
              <ul>
                <li>Chất liệu, mềm, nhẹ, thấm hút mồ hôi tốt, Chất liệu, mềm, nhẹ, thấm hút mồ hôi tốt, Chất liệu, mềm, nhẹ, thấm hút mồ hôi tốt, </li>
                <li>Kiểu dáng đơn giản, trẻ trungChất liệu, mềm, nhẹ, thấm hút mồ hôi tốt, Chất liệu, mềm, nhẹ, thấm hút mồ hôi tốt, Chất liệu, mềm, nhẹ, thấm hút mồ hôi tốt, </li>
                <li>Có thể kết hợp với nhiều trang phục khác nhauChất liệu, mềm, nhẹ, thấm hút mồ hôi tốt, Chất liệu, mềm, nhẹ, thấm hút mồ hôi tốt, Chất liệu, mềm, nhẹ, thấm hút mồ hôi tốt, </li>
              </ul>
            </div>
          </div>
          <p class="mtop-10">
            <a class="btn btn-xs btn-block btn-default full-content">Mở rộng nội dung</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>