<form autocomplete="off" (ngSubmit)="onSubmit()" #frmTabAttributeVariant="ngForm">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Nhà cung cấp
                    <span class="required"> (*)</span>
                </label>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <select class="form-control select2" name="vendorId" [(ngModel)]="productVariant.vendorId" #vendorId="ngModel" required pattern="/^[1-9][0-9]*$/">
                                <option value="">Lựa chọn nhà cung cấp</option>
                            </select>
                            <div class="help-block" *ngIf="(vendorId.errors && (vendorId.dirty || vendorId.touched)) || (!formValid && vendorId.errors)">
                                <div class="required" *ngIf="vendorId.errors.required">Bạn phải nhập một nhà cung cấp.</div>
                                <div class="required" *ngIf="widthT.errors.pattern">Bạn phải nhập một nhà cung cấp.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="productVariant.typeId != 4 && productVariant.typeId != 5 && productVariant.typeId != 6">
            <div class="col-md-2">
                <label class="control-label">Nhà ký gửi</label>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input class="form-control" type="text" name="warehouseId" [(ngModel)]="productVariant.warehouseId" #warehouseId="ngModel"
                                placeholder="Lựa chọn nhà ký gửi" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Đơn vị merchant</label>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <input class="form-control" type="text" name="unitNameMerchant" [(ngModel)]="productVariant.unitNameMerchant" #unitNameMerchant="ngModel"
                                placeholder="Đơn vị cho merchant" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label class="control-label">VAT đầu vào
                    <span class="required"> (*)</span>
                </label>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <select class="form-control select2" name="vat" [(ngModel)]="productVariant.vat" #vat="ngModel" required>
                                <option value="">Chọn % VAT đầu vào</option>
                            </select>
                            <div class="help-block" *ngIf="(vat.errors && (vat.dirty || vat.touched)) || (!formValid && vat.errors)">
                                <div class="required" *ngIf="vat.errors.required">Bạn phải lựa chọn VAT đầu vào.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label class="control-label">VAT đầu ra
                    <span class="required"> (*)</span>
                </label>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <select class="form-control select2" name="vatExt" [(ngModel)]="productVariant.vatExt" #vatExt="ngModel" required>
                                <option value="">Chọn % VAT đầu ra</option>
                            </select>
                            <div class="help-block" *ngIf="(vatExt.errors && (vatExt.dirty || vatExt.touched)) || (!formValid && vatExt.errors)">
                                <div class="required" *ngIf="vatExt.errors.required">Bạn phải lựa chọn VAT đầu ra.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row" *ngIf="productVariant.attributeVariants.length">
            <div class="col-md-12">
                <table class="table table-condensed table-striped table-bordered">
                    <tr>
                        <th style="width:2%" class="text-center">STT</th>
                        <th style="width:13%" class="text-center">Thuộc tính </th>
                        <th style="width:60%" class="text-center">Giá trị</th>
                        <th style="width:25%" class="text-center">Đơn vị</th>
                    </tr>
                    <tr>
                        <td class="text-center">1</td>
                        <td>
                            Tên thuộc tính
                            <span class="required"> (*)</span>
                        </td>
                        <td>
                            <div>
                                <div>
                                    <div class="form-group row" style="margin-bottom: 10px">
                                        <div class="col-md-10">
                                            <select class="form-control cboAttributeVariant">
                                                <option value="">Lựa chọn thuộc tính</option>
                                            </select>
                                            <input type="hidden" name="AttributeValueId" required />
                                            <div class="error-messages">
                                                <div>
                                                    Bạn phải lựa chọn giá trị thuộc tính.
                                                </div>
                                                <div>
                                                    Bạn phải lựa chọn giá trị thuộc tính.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-default btn-sm btn-danger" title="Xóa giá trị thuộc tính">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button type="button" id="btnSearch" class="btn btn-sm btn-success">
                                                    <i class="fa fa-plus fa-fw"></i>Thêm giá trị</button>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" /> Hiển thị riêng lẻ biến thể trong danh mục
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="form-group row" style="margin-bottom: 10px">
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" name="ValueNumber" required />
                                            <div class="error-messages">
                                                <div>
                                                    Bạn phải lựa chọn giá trị thuộc tính.
                                                </div>
                                                <div>
                                                    Bắt buộc phải là số. Dùng dấu "." cho số thập phân.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-default btn-sm btn-danger" title="Xóa giá trị thuộc tính">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <button type="button" id="btnSearch" class="btn btn-sm btn-success">
                                                    <i class="fa fa-plus fa-fw"></i>Thêm giá trị
                                                </button>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" /> Hiển thị riêng lẻ biến thể trong danh mục
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <textarea rows="4" class="form-control" name="ValueText"></textarea>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <select class="form-control" name="UnitId" required>
                                    <option value="">Lựa chọn đơn vị
                                        <span class="field-validation-error">(*)</span>
                                    </option>
                                </select>
                                <input type="hidden" name="BaseUnitId" required />
                                <div class="error-messages">
                                    <div>
                                        Bạn phải lựa chọn đơn vị
                                    </div>
                                    <div>
                                        Bạn phải lựa chọn đơn vị
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row" style="margin-bottom: 10px" *ngIf="productVariant.attributeVariants.length">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-warning btn-lg" style="width:300px">Sinh biến thể</button>
            </div>
        </div>

        <div class="row" *ngIf="productVariant.attributeVariants.length">
            <div class="col-md-12">
                <table class="table table-bordered" id="table_variants">
                    <thead>
                        <tr>
                            <th rowspan="2"></th>
                            <th rowspan="2">Tên biến thể</th>
                            <th rowspan="2">Tags</th>
                            <th rowspan="2">Barcode</th>
                            <th rowspan="2">SKU*</th>
                            <th rowspan="2">Kho hàng</th>
                            <th colspan="4">Sản phẩm</th>
                        </tr>
                        <tr>
                            <th>Số lượng</th>
                            <th>Giá bán</th>
                            <th>Giá trên bao bì</th>
                            <th>Giá vốn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="cell-product-variant-amount" style="width: 180px !important"> Id Video Youtube </td>
                            <td class="cell-product-variant-amount" style="width: 180px !important"> barcode </td>
                            <td class="cell-product-variant-amount" style="width: 180px !important"> Sku </td>
                            <td> Warehouse </td>
                            <td class="cell-product-variant-amount">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="QuantityDefault" format-number>
                                    <div class="input-group-btn">
                                        <button class="btn btn-info">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="error-messages">
                                    <div>
                                        Bắt buộc phải là số lớn hơn 0
                                    </div>
                                    <div>
                                        Không vượt quá 8 số
                                    </div>
                                </div>
                            </td>
                            <td class="cell-product-variant-selling-price">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="SellDefault" format-number ecom-round-number>
                                    <div class="input-group-btn">
                                        <button class="btn btn-info">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="error-messages">
                                    <div>
                                        Bắt buộc phải là số lớn hơn 0
                                    </div>
                                    <div>
                                        Không vượt quá 12 số
                                    </div>
                                    <div>
                                        Giá bán không lẻ dưới trăm đồng.
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="OriginalDefault" format-number ecom-round-number>
                                    <div class="input-group-btn">
                                        <button class="btn btn-info">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="error-messages">
                                    <div>
                                        Bắt buộc phải là số lớn hơn 0
                                    </div>
                                    <div>
                                        Không vượt quá 12 số
                                    </div>
                                    <div>
                                        Giá bán không lẻ dưới trăm đồng.
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="CostOfSalesDefault" format-number ecom-round-number>
                                    <div class="input-group-btn">
                                        <button class="btn btn-info">
                                            <i class="fa fa-check"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="error-messages">
                                    <div>
                                        Bắt buộc phải là số lớn hơn 0
                                    </div>
                                    <div>
                                        Không vượt quá 12 số
                                    </div>
                                    <div>
                                        Giá vốn không lẻ dưới trăm đồng.
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" id="btnSearch" class="btn btn-sm btn-danger" title="Xóa biến thể">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                            <td>
                                Giá trị thuộc tính biến thể
                            </td>
                            <td>
                                <!-- <tags-input display-property="Name" add-on-enter="true" add-on-blur="true" max-tags="5" min-length="1" max-length="50" replace-spaces-with-dashes="false">
                                        <auto-complete source="loadTags($query)" select-first-match="false" min-length="1">
                                        </auto-complete>
                                    </tags-input> -->
                                <input class="form-control" type="text" name="tags-input" placeholder="Tags-input" />
                            </td>
                            <td>
                                <input type="text" class="form-control" name="Barcode" />
                                <div class="error-messages">
                                    <div>
                                        Không vượt quá 50 ký tự
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input type="text" class="form-control" name="Sku" required />
                                <div class="error-messages">
                                    <div>
                                        Trường thông tin bắt buộc
                                    </div>
                                    <div>
                                        Bắt buộc phải là số lớn hơn 0
                                    </div>
                                    <div>
                                        Không vượt quá 128 số
                                    </div>
                                </div>
                            </td>
                            <td class="cell-warehouse">
                                Tên kho hàng
                            </td>
                            <td class="cell-product-variant-amount">
                                <input type="text" class="form-control text-right" format-number name="Quantity" required />

                                <div class="error-messages">
                                    <div>
                                        Trường thông tin bắt buộc
                                    </div>
                                    <div>
                                        Bắt buộc phải là số lớn hơn 0
                                    </div>
                                    <div>
                                        Không vượt quá 8 số
                                    </div>
                                </div>
                            </td>
                            <td class="cell-product-variant-selling-price">
                                <input type="text" class="form-control  text-right" format-number ecom-round-number name="SellPrice" required />
                                <div class="error-messages">
                                    <div>
                                        Trường thông tin bắt buộc
                                    </div>
                                    <div>
                                        Bắt buộc phải là số
                                    </div>
                                    <div>
                                        Không vượt quá 12 số
                                    </div>
                                    <div>
                                        Giá bán không lẻ dưới trăm đồng.
                                    </div>
                                </div>
                            </td>
                            <td class="cell-product-variant-original-price">
                                <input type="text" class="form-control  text-right" format-number ecom-round-number name="OriginalPrice" required />
                                <div class="error-messages">
                                    <div>
                                        Trường thông tin bắt buộc
                                    </div>
                                    <div>
                                        Bắt buộc phải là số
                                    </div>
                                    <div>
                                        Không vượt quá 12 số
                                    </div>
                                    <div>
                                        Giá bán không lẻ dưới trăm đồng.
                                    </div>
                                </div>
                            </td>

                            <td class="cell-product-variant-original-price">
                                <input type="text" class="form-control  text-right" format-number ecom-round-number name="CostOfSales" required />
                                <div class="error-messages">
                                    <div>
                                        Trường thông tin bắt buộc
                                    </div>
                                    <div>
                                        Bắt buộc phải là số
                                    </div>
                                    <div>
                                        Không vượt quá 12 số
                                    </div>
                                    <div>
                                        Giá vốn không lẻ dưới trăm đồng.
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="product-variant-row" id="product_variant_row_1">
                            <td class="cell-warehouse">
                                Tên kho hàng
                            </td>
                            <td class="cell-product-variant-amount">
                                <input type="text" class="form-control text-right" format-number name="Quantity" required />
                                <div class="error-messages">
                                    <div>
                                        Trường thông tin bắt buộc
                                    </div>
                                    <div>
                                        Bắt buộc phải là số lớn hơn 0
                                    </div>
                                    <div>
                                        Không vượt quá 8 số
                                    </div>
                                </div>
                            </td>
                            <td class="cell-product-variant-selling-price">
                                <input type="text" class="form-control  text-right" format-number ecom-round-number name="SellPrice" required />
                                <div class="error-messages">
                                    <div>
                                        Trường thông tin bắt buộc
                                    </div>
                                    <div>
                                        Bắt buộc phải là số
                                    </div>
                                    <div>
                                        Không vượt quá 12 số
                                    </div>
                                    <div>
                                        Giá bán không lẻ dưới trăm đồng.
                                    </div>
                                </div>
                            </td>
                            <td class="cell-product-variant-original-price">
                                <input type="text" class="form-control  text-right" name="OriginalPrice" format-number ecom-round-number required />
                                <div class="error-messages">
                                    <div>
                                        Trường thông tin bắt buộc
                                    </div>
                                    <div>
                                        Bắt buộc phải là số
                                    </div>
                                    <div>
                                        Không vượt quá 12 số
                                    </div>
                                    <div>
                                        Giá bán không lẻ dưới trăm đồng.
                                    </div>
                                </div>
                            </td>
                            <td class="cell-product-variant-original-price">
                                <input type="text" class="form-control  text-right" name="CostOfSales" format-number ecom-round-number required />
                                <div class="error-messages">
                                    <div>
                                        Trường thông tin bắt buộc
                                    </div>
                                    <div>
                                        Bắt buộc phải là số
                                    </div>
                                    <div>
                                        Không vượt quá 12 số
                                    </div>
                                    <div>
                                        Giá bán không lẻ dưới trăm đồng.
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" *ngIf="productVariant.attributeVariants.length">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="control-label">Sku
                            <span class="field-validation-error">(*)</span>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" type="text" maxlength="128" name="Sku" placeholder="Mã sản phẩm" required />
                            <div class="error-messages">
                                <div>
                                    Bạn phải nhập mã SKU của sản phẩm.
                                </div>
                                <div>
                                    Không đúng định dạng,sku không chứa ký tự đặc biệt.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="control-label"> Tags sản phẩm</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <!-- <tags-input display-property="Name" add-on-enter="true" add-on-blur="true" max-tags="10" min-length="1" max-length="50" replace-spaces-with-dashes="false">
                                    <auto-complete source="loadTags($query)" select-first-match="false" min-length="1">
                                    </auto-complete>
                                </tags-input> -->
                            <input class="form-control" type="text" name="tags-input" placeholder="Tags-input" />
                            <small>Độ dài tối thiểu là 3 ký tự, độ dài tối đá 50 ký tự</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2">
                        <label class="control-label">Barcode </label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" type="text" name="Barcode" placeholder="Barcode sản phẩm" />
                            <div class="error-messages">
                                <div>
                                    Cho phép tối đa 50 ký tự
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2">Kho hàng</th>
                            <th colspan="3">Sản phẩm</th>
                        </tr>
                        <tr>
                            <th>Số lượng</th>
                            <th>Giá bán</th>
                            <th>Giá trên bao bì</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="product-variant-row" id="product_variant_row_1">
                            <td class="cell-warehouse">
                                Tên kho hàng
                            </td>
                            <td class="cell-product-variant-amount">
                                <input type="text" class="form-control text-right" format-number name="Quantity" required />
                                <div class="error-messages">
                                    <div>
                                        Trường thông tin bắt buộc
                                    </div>
                                    <div>
                                        Bắt buộc phải là số lớn hơn 0
                                    </div>
                                    <div>
                                        Không vượt quá 8 số
                                    </div>
                                </div>
                            </td>
                            <td class="cell-product-variant-selling-price">
                                <input type="text" class="form-control  text-right" format-number ecom-round-number name="SellPrice" required />
                                <div class="error-messages">
                                    <div>
                                        Trường thông tin bắt buộc
                                    </div>
                                    <div>
                                        Bắt buộc phải là số
                                    </div>
                                    <div>
                                        Không vượt quá 12 số
                                    </div>
                                    <div>
                                        Giá bán không lẻ dưới trăm đồng.
                                    </div>
                                </div>
                            </td>
                            <td class="cell-product-variant-original-price">
                                <input type="text" class="form-control  text-right" name="OriginalPrice" format-number ecom-round-number required/>
                                <div class="error-messages">
                                    <div>
                                        Trường thông tin bắt buộc
                                    </div>
                                    <div>
                                        Bắt buộc phải là số
                                    </div>
                                    <div>
                                        Không vượt quá 12 số
                                    </div>
                                    <div>
                                        Giá bán không lẻ dưới trăm đồng.
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row" style="margin-top:15px">
            <div class="col-md-12 text-right">
                <button type="button" class="btn btn-warning" (click)="setTab.emit('tab-3');">Quay lại</button>
                <button type="button" class="btn btn-success" (click)="onSubmit(frmTabAttributeVariant, productVariant)">
                    <i class='fa fa-spinner fa-spin'></i>Tiếp tục</button>
            </div>
        </div>
    </div>
</form>